{% extends 'main/layout.html' %}
{% block main %}
<div class="bg-dark text-white">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center">
      <ul class="nav col-12 col-lg-auto justify-content-center my-md-0 text-small">
        <li>
          <a href="#" class="nav-link text-white">
            <i class="bi bi-box mx-auto mb-1" style="font-size: 2rem;"></i>
            Dashboard
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <i class="bi bi-box mx-auto mb-1" style="font-size: 2rem;"></i>
            프로젝트
          </a>
        </li>
        <li>
          <a href="{% url 'item:index' %}" class="nav-link text-white">
            <i class="bi bi-box mx-auto mb-1" style="font-size: 2rem;"></i>
            아이템
          </a>
        </li><li>
          <a href="{% url 'user:index' %}" class="nav-link text-white">
            <i class="bi bi-box mx-auto mb-1" style="font-size: 2rem;"></i>
            사용자
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}